
.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: rgba(0, 185, 182, 0.3);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  font-family: roboto;
  text-align: center;
  border: 2px solid rgba(0, 185, 182, 0.5);;

  /* text-shadow: 0px 0px 9px #508AD3; */
  

  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}
.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}
/* .content {
  grid-area: text;
  margin: 25px;
  COLOR: #1278BF; 
   font-size:80px;
  font-weight: 300; 
}
.img {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; 
  background-size: cover;
  align-self: center;
} */

.image6 {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  } 
  .image6:hover {
  -webkit-filter: grayscale(100%);
  }